{% extends 'club/base.html' %}

{% block content %}
<div>
	<h4>Please input your details to book the Fitness Class</h4>
	<br></br>
</div>
<form action=" " method="post">{% csrf_token %}
{{training.name}} {{training.training_date}} {{training.start_time}}
<br></br>
<label for="first_name">First name</label>
{{form.first_name}}
<p></p>
<label for="last_name">Last name</label>
{{form.last_name}}
<p></p>
<label for="email">E-mail</label>
{{form.email}}
<p></p>
<label for="Phone">Phone</label>
{{form.phone}}
<input type="hidden" name="training" value={{training.id}}>	
	<br></br>
 <a href=""><button type="submit" class="btn btn-primary">Submit</button></a>
</form>

{% endblock %}