{% extends 'club/base.html' %}

{% block content %}
<div>
	<h4>Please input your details to book the Fitness Class</h4>
	<br></br>
</div>
<form action=" " method="post">{% csrf_token %}
<div class="input-group">
  <span class="input-group-addon">Training</span>
  <label type="hidden" class="form-control" name="training">{{training.name}} on {{training.training_date}} at {{training.start_time}}
 </div>
   <p></p>
   <input type="hidden" name="training" value={{training.id}}>
   <p></p>
<div class="input-group">
  <span class="input-group-addon" width="10px">First Name</span>
  <input type="text" class="form-control" name="first_name" placeholder="Enter your first name">
 </div>
  <p></p>
 <div class="input-group">
  <span class="input-group-addon">Last Name</span>
  <input type="text" class="form-control" name="last_name" placeholder="Enter your last name">
 </div>
  <p></p>
 <div class="input-group">
  <span class="input-group-addon">E-mail</span>
  <input type="text" class="form-control" name="email" placeholder="Enter your email address">
 </div>
  <p></p>
 <div class="input-group">
  <span class="input-group-addon">Phone</span>
  <input type="text" class="form-control" name="phone" placeholder="Enter your phone number">
 </div>
  <br></br>
  <td><a href=""><button type="submit" class="btn btn-primary">Submit</button></a></td>
</form>

{% endblock %}