h1 a {
    color: #D60606;
	font-weight: bold;
	padding-left: 70px;
	
}

li a {
	font-weight: bold;
}

body {
	margin: 0;
    padding: 0;
    padding-left: 15px;
	padding-right: 15px;
	font-family: 'Lato';
}

.input-group-addon {
    width: 20%;
}

.input-group {
    width: 50%;
}

img {
	position: absolute;
    right: 15%;
    width: 400px;
}


