h1 a {
    color: #F50ABA;
	font-weight: bold;
	font-family: 'Indie Flower';
}

li a {
    color: #0AAEF5;
	font-weight: bold;
}

body {
    padding-left: 15px;
	padding-right: 15px;
	font-family: 'Lato';	
}

